@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Henny+Penny&display=swap');

* {
    margin: 0;
    padding: 0;
}

.tab-list {  
    border-bottom: 1px solid #000;
    padding-left: 0;
}
  
.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    width: 372px;
    text-align: center;
}
  
.tab-list-active {
    background-color: white;
    border: solid #000;
    border-width: 3px 3px 0 3px;
}

.point {
    cursor: pointer;
}

.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6d5b8;
    width: 800px;
}

.dash-title {
    padding: 4% 2%;
    text-align: center;
    font-family: 'Henny Penny', cursive;
}

.poll-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    margin: 2%;
}

.avatar {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar img{
    width:70%;
    border-radius: 50%;
}

.poll-author {
    text-align: left;
    padding: 2%;
    border-bottom: 2px solid brown;
    background-color: #cee397;

}

.poll-preview {
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.poll-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 450px;
}

.radio-btn {
    margin-left: 5px;
}

.poll-option {
    width: 350px;
    margin-top: 15px;
}

.poll-view-btn {
    width: 250px;
    background-color: coral;
    padding: 2%;
    border-radius: 12px;
    font-weight: 600;
    outline: none;
    margin-top: 20px;
}

.poll-view-btn:active {
  transform: translateY(2px);
}

.result-option {
    width: 350px;
    margin-top: 15px;
    background-color:#bedbbb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2%;
}

.progress {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 250px;
    padding: 3px;
    margin-top: 5px;
}

.progress div {
    display: block;
    background: orange;
    height: 100%;
    border-radius: 9px;
    text-align: center;
}

.fa {
    margin-left: 5px;
    font-size: larger;
    color: #1f6f8b;
}

.nav {
    background-color:#bedbbb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    padding-left: 2%;
}
    
nav li {
    list-style-type: none;
    padding: 15px 10px;
    font-weight: 500;
    font-size: 1.1rem;
}

.nav li:hover {
    background-color: #8db596;
}

a {
    text-decoration: none;
    color: #252525;
    font-family: 'Bitter', serif;
}

.nav div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-right: 20px;
}

.nav div p {
      padding-top: 15px;
      margin-right: 20px;
      font-family: 'Henny Penny', cursive;
}

.nav div button {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.nav div button:active {
    transform: translateY(2px);
}

.power {
      font-size: 1.7rem;
      color: #333456;
      padding: 15px 10px;
}

.power:hover {
    background-color: #8db596;
}

/* Leader Board styles */
.leaderboard-card {
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid brown;
    margin: 2%;
    position: relative;
}

.leaderboard-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Bitter;
    position: absolute;
    left: 35%;

}

.leaderboard-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 10%;
    top: 20%;
    border: 2px solid green;
    width: 100px;
}

.leaderboard-score h4 {
    background-color: greenyellow;
    width: 100%;
    padding: 2% 0;
    text-align: center;
    border-bottom: 2px solid green;
}

.leaderboard-score h1 {
    width: 100%;
    text-align: center;
    margin-top: -10px;
}

.banner {
    position: absolute;
    top: 0;
    left: 1%;
}

/* Login page styles */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    border: 2px solid brown;
    margin: 0 30%;
    border-radius: 12px;
    background-color: #fcf1f1;
}

.loginForm {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.login div {
    display: flex;
    justify-content: center;
}

.login img {
    width: 70%;
}

.loginForm select, .loginForm option {
    padding: 2%;
    outline: none;
    font-weight: 600;
}


.loginForm button {
    width: 250px;
    background-color: coral;
    padding: 2%;
    border-radius: 12px;
    font-weight: 600;
    outline: none;
    margin: 30px 0;
}

.loginForm button:active {
    transform: translateY(2px);
  }
